.custom-text-title{
    font-family: 'Times New Roman', Times, serif;
}

.hero-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-container::after{
    content: '';
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 1;
    pointer-events: none;
    
    
}

.hero-container img{
    filter: blur(1.5px);
}

.carousel-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
   
}

.carousel-overlay div .img-custom{
    height: 500px;
    width: 360px;
    filter: blur(0px);
    object-fit: cover;
}

.carousel-overlay div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-overlay div div{
    display: block;
}

.carousel-custom-height{
    height: 620px;
    
}
.carousel-custom-height img {
    object-fit: cover;
    height: 100%; 
    width: 100%; 
}

.card-img-custom{
    height: 150px;
    object-fit: cover;
}

.container-hover {
    transition: transform 0.3s ease-in-out;
}

.container-hover:hover{
    transform: scale(1.06);
    
}

.blue{
    color: #02ccc2;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .carousel-overlay div{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .carousel-overlay div .img-custom{
        height: 350px;
        width: 280px;
        margin: 10px;
    }
}




